{% extends "inicio/encabezado.html" %}

{% block titulo %}
Contacto
{% endblock %}

{%block imagen%} 
    {%load static%}
    {%static 'inicio/images/contacto.png'%}
{%endblock%}

{%block texto%} 
    Contacto<span>Contactanos</span>
{%endblock%}

{%block encabezado%} 

			<!--Encabezdo -->
			<div class="page-header">
				<div class="page-title">
					<h3>Contacto
				    <small>Ingresa tu información</small></h3>
				</div>
				
	
			</div>
			<!-- /Encabezado-->

{%endblock%}


{%block contenido%} <!--bloque body heredado del template encabezado-->
			
				<form class="form-horizontal" action="#" role="form">
				
	            <div class="panel panel-default">
	                <div class="panel-body">
							<!-- Formulario -->
				        <div class="form-group">
				            <label class="col-sm-2 control-label text-right">Contacto:</label>
				            <div class="col-sm-10">
				            	<input type="text" name="nombre" class="form-control">
				            </div>
				        </div>
				        
				        <div class="form-group">
				            <label class="col-sm-2 control-label text-right">Mensaje:</label>
				            <div class="col-sm-10">
				            	<textarea cols="123" rows="10"> </textarea>
				            </div>
				        </div>
		
				        </div>    
                        <div class="form-actions text-right">
                        	<input type="submit" value="Enviar" class="btn btn-primary">
                        </div>

				    </div>
				</div>
			</form>
		<!-- Fin del Formulario -->
{% endblock  %}