{% extends "inicio/encabezado.html" %}

{% block titulo %}
CARGAR ARCHIVO
{% endblock %}

{%block imagen%}
{%load static%}
{%static 'inicio/images/contacto.png'%}
{%endblock%}

{%block texto%}
Contacto<span>Contactanos</span>
{%endblock%}

{%block encabezado%}

<!--Encabezdo -->
<div class="page-header">
	<div class="page-title">
		<h3>Envia tu documento
			<small>...</small>
		</h3>
	</div>


</div>
<!-- /Encabezado-->

{%endblock%}


{%block contenido%} <!--bloque body heredado del template encabezado-->

<form class="form-horizontal" action="{%url 'Subir'%}" method="POST" role="form" enctype="multipart/form-data">
	{%csrf_token%}

	<div class="panel panel-default">
		<div class="panel-body">
			<!-- Formulario -->
			<div class="form-group">
				<label class="col-sm-2 control-label text-right">Material:</label>
				<div class="col-sm-10">
					<input type="text" name="titulo" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label text-right">Descripción:</label>
				<div class="col-sm-10">
					<textarea name="descripcion" cols=" 50” rows="10” class="form-control">
				</textarea>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label text-right">Archivo:</label>
				<div class="col-sm-10">
					<input type="file" name="archivo" />
				</div>
			</div>

		</div>
		<div class="form-actions text-right">
			<input type="submit" value="Enviar" class="btn btn-primary">
		</div>

	</div>
	</div>
</form>
<!-- Fin del Formulario -->
{% endblock %}